<div class="container">
	<div class="brands">
		<fieldset class="brand-fields">
			<legend class="brand-legends">
				<img src="/brand-white.png">&ensp;<h3>B R A N D S</h3>
				<a href="/admin/brand/create"><img src="/create.png" style="float:right; width:30px; height:30px; margin-top: 10px;"></a>
			</legend>
			<div class="container">
				<div class="brand-contents">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th align="center">Name</th>
									<th align="center">Description</th>
								</tr>
							</thead>
							{{#each brands}}
							<tbody>
								<tr>
									<td>{{this.brand_name}}</td>
									<td>{{this.brand_description}}</td>
								</tr>
							</tbody>
							{{/each}}
						</table>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>