<div class="container">
	<div class="brands">
		<fieldset class="brand-fields">
			<legend class="brand-legends">
				<img src="/brand-white.png">&ensp;<h3>B R A N D S</h3>
				<a href="/admin/brand/create"><img src="/create.png" style="float:right; width:30px; height:30px; margin-top: 10px;"></a>
			</legend>
			<div class="container">
				{{#each brands}}
				<div class="brand-contents">
					<li>Name : {{this.brand_name}}</li>
					<li>Description : {{this.brand_description}}</li>
				</div>
				{{/each}}
			</div>
		</fieldset>
	</div>
</div>