<div class="container">
	<div class="categories">
		<fieldset class="category-fields">
			<legend class="category-legends">
				<img src="/category-white.png">&ensp;<h3>C A T E G O R I E S</h3>
				<a href="/admin/category/create"><img src="/create.png" style="float:right; width:30px; height:30px; margin-top: 10px;"></a>
			</legend>
			<div class="container">
				{{#each rows}}
				<div class="category-contents">
					<li>{{this.product_category_name}}</li>
				</div>
				{{/each}}
			</div>
		</fieldset>
	</div>
</div>