{{!-- <div class="container-fluid">
  <div class="row">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-design">
				<thead>
					<tr>
						<th>Categories</th>
					</tr>
				</thead>
				{{#each rows}}
				<tbody>
					<tr>
						<td>{{this.product_category_name}}</td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		</div>
	  <a href="/admin/category/create"><button style="float:right" type="button" class="btn btn-md btn-design">Create Category</button></a>
  </div>
</div> --}}

<div class="container">
	<div class="categories">
		<fieldset class="category-fields">
			<legend class="category-legends">
				<img src="/category-white.png">&ensp;<h3>C A T E G O R I E S</h3>
				<a href="/admin/category/create"><img src="/create.png" style="float:right; width:30px; height:30px; margin-top: 10px;"></a>
			</legend>
			<div class="container">
				{{#each rows}}
				<div class="category-contents">
					<li>{{this.product_category_name}}</li>
				</div>
				{{/each}}
			</div>
		</fieldset>
	</div>
</div>