<style>

.btn-design {

	background-color: white;
	border-color: #c61aff;
	color: #c61aff;

}

.btn-design:hover{
	
	background-color: #c61aff;
	border-color: white;
	color: white;
}

</style>
<body class="background">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
      <div class="sidenav img-icons">
        <a href="/admin"><h5>DELISHOES ADMIN</h5></a>
        <hr>
        <a href="/admin/developers"><img src="/about.png">&ensp;About Developers</a>
        <a href="/products"><img src="/products.png">&ensp;Products</a>
        <a href="/admin/categories"><img src="/category.png">&ensp;Categories</a>
        <a href="/admin/brands"><img src="/brand.png">&ensp;Brands</a>
        <a href="/admin/orders"><img src="/order.png">&ensp;Orders</a>
        <a href="/admin/customers"><img src="/customer.png">&ensp;Customers</a>
      </div>
    </div>
		<div class="col-md-9">
			<div class="modal-body">
			<form method="POST" action="/categories">
				<div class="form-group">
					<label for="product_category_name">Category Name:</label><br>
					<input type="text" class="form-control" name="product_category_name" value="" placeholder="e.g. Shoes" required=""><br><br><hr>
					<input type="submit" name="submit" value="Submit" class="btn btn-design" style="float:right">
				</div>				
			</form>
			</div>
		</div>
	</div>
</div>
</body>