<style>

.btn-design {

	background-color: white;
	border-color: #400861;
	color: #400861;

}

.btn-design:hover{
	
	background-color: #400861;
	border-color: white;
	color: white;
}

</style>

<div class="container">
	<div class="categories">
		<fieldset class="category-fields">
			<legend class="category-legends">
				<img src="/category-white.png">&ensp;<h3>C A T E G O R I E S</h3>
				<a href="/admin/category/create"><img src="/create.png" style="float:right; width:30px; height:30px; margin-top: 10px;"></a>
			</legend>
			<div class="container">
				<div class="modal-body">
					<form method="POST" action="/categories">
						<div class="form-group">
							<label for="product_category_name"><b>Category Name</b></label><br>
							<input type="text" class="form-control" name="product_category_name" value="" placeholder="e.g. Shoes" required=""><br><br><hr style="background: white;">
							<input style="font-weight:bold;" type="submit" name="submit" value="Submit" class="btn btn-design" style="float:right">
							<a href="/admin/categories"><button type="button" class="btn btn-design" style="float:right"><b>Go back</b></button>
						</div>				
					</form>
				</div>
			</div>
		</fieldset>
	</div>
</div>