<div class="container">
  <div class="developers">
    <fieldset class="developer-fields">
      <legend class="developer-legends">
        <img src="/admin-white.png">&ensp;<h3>A B O U T&emsp;D E V E L O P E R S</h3>
      </legend>
      <div class="container">
        <div class="developer-contents">
          <h2><b>T E A M  2 0</b></h2>
          <div class="row">
            <div class="col-md-6">
              <div class="developer-contents">
                <a href="#" data-toggle="modal" data-target="#modal-1"><img src="/caloy.png">
                  <h3>Hi! I'm Carlo!</h3>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="developer-contents">
                <a href="#" data-toggle="modal" data-target="#modal-2"><img src="/kimmy.png">
                  <h3>Hi! I'm Kim Leslie!</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>


<!--END: ADMIN INTERFACE-->

<!--START: MODALS-->

<!--Carlo Punzalan-->
<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header-design">
        <img src="/man-white.png"><h5 class="modal-title">&ensp;Carlo's Credential</h5>
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
      </div>
      <div class="modal-body body-design">
        <li>Name: Carlo S. Punzalan</li>
        <li>Age: 21 years old</li>
        <li>Address: Caloocan City</li>
        <li>Year & Course: 5th Year - Computer Engineering</li>
        <li>School: Polytechnic University of the Philippines</li>
      </div>
      <div class="modal-footer footer-design" align="center">
        <button type="button" class="btn btn-md" data-dismiss="modal">GOT IT!</button>
      </div>
    </div>
  </div>
</div>

<!--Kim Leslie Faina-->
<div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header-design">
        <img src="/woman-white.png"><h5 class="modal-title">&ensp;Kim Leslie's Credentials</h5>
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
      </div>
      <div class="modal-body body-design">
        <li>Name: Kim Leslie B. Faina</li>
        <li>Age: 21 years old</li>
        <li>Address: Makati City</li>
        <li>Year & Course: 5th Year - Computer Engineering</li>
        <li>School: Polytechnic University of the Philippines</li>
      </div>
      <div class="modal-footer footer-design">
        <button type="button" class="btn btn-md" data-dismiss="modal">GOT IT!</button>
      </div>
    </div>
  </div>
</div>

<!--END: MODALS-->
