 <!DOCTYPE html>
 <html>
  <head>
    <title>Delishoes - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap//dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap//dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Khand'>
    <link rel="stylesheet" type="text/css" href="/admin-css.css">
    <link rel="stylesheet" type="text/css" href="/css/categories.css">
    <link rel="stylesheet" type="text/css" href="/css/brands.css">
    <link rel="stylesheet" type="text/css" href="/css/orders.css">
    <link rel="stylesheet" type="text/css" href="/css/customers.css">
    <link rel="stylesheet" type="text/css" href="/css/developers.css">
    <link rel="stylesheet" type="text/css" href="/css/products.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/admin.js"></script>
  
  <body id="page-top" class="background-admin">
    <nav class="navbar navbar-expand navbar-dark static-top" style="background-color: #400861">
      <button type="button" class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle"><img src="/home-white.png" style="width:30px; height:30px;"></button>
      <a class="navbar-brand mr-1" href="/admin">DELISHOES ADMIN</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item no-arrow mx-1" style="float:right;">
          <a href="#" style="text-decoration:none;"><img src="/notification.png" style="width:25px; height:25px; margin: 0 auto;"></a>
        </li>
      </ul>
    </nav>
    <!--Start: SideNavBar-->
    <div class="container-fluid">
      <div id="sidenav" class="side-navbar" style="float:left;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/dashboard">
              <img src="/dashboard.png">&ensp;Admin Dashboard
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/developers">
              <img src="/admin.png">&ensp;About Developers
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/products">
              <img src="/products.png">&ensp;Products
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/categories">
              <img src="/category.png">&ensp;Categories
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/brands">
              <img src="/brand.png">&ensp;Brands
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/orders">
              <img src="/order.png">&ensp;Orders
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/customers">
              <img src="/customer-violet.png">&ensp;Customers
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <button class="btn btn-md btn-design-admin">Back to Home Page</button>
            </a>
          </li>
        </ul>
      </div>
      <!--END: SideNavBar-->

      <!--START: BODY-->
      <div class="container-fluid col-lg-9" style="float:left; margin-left:15%; margin-left:auto; margin-right: auto;">
        {{{body}}}
      </div>
      <!--END: BODY-->
    </div>
  </body>
</html>