<body class="background">

<!--START: ADMIN INTERFACE-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="sidenav img-icons">
        <a href="/developers"><img src="/about.png">&ensp;About Developers</a>
        <a href="#"><img src="/products.png">&ensp;Products</a>
        <a href="#"><img src="/category.png">&ensp;Categories</a>
        <a href="#"><img src="/brand.png">&ensp;Brands</a>
        <a href="#"><img src="/order.png">&ensp;Orders</a>
        <a href="#"><img src="/customer.png">&ensp;Customers</a>
      </div>
    </div>
    <div class="col-md-7 team-title">
      <h1 style="font-size:1100%; padding:90px 40px;">WELCOME TO ADMIN PAGE!</h1>
    </div>
  </div>
</div>

</body>