<body class="background">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
      <div class="sidenav img-icons">
        <a href="/admin"><h5>DELISHOES ADMIN</h5></a>
        <hr>
        <a href="/developers"><img src="/about.png">&ensp;About Developers</a>
        <a href="/products"><img src="/products.png">&ensp;Products</a>
        <a href="/categories"><img src="/category.png">&ensp;Categories</a>
        <a href="/brands"><img src="/brand.png">&ensp;Brands</a>
        <a href="/orders"><img src="/order.png">&ensp;Orders</a>
        <a href="/customers"><img src="/customer.png">&ensp;Customers</a>
      </div>
    </div>
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-design">
					<thead>
						<tr>
							<th>Categories</th>
						</tr>
					</thead>
					{{#each rows}}
					<tbody>
						<tr>
							<td>{{this.product_category_name}}</td>
						</tr>
					</tbody>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div>
</body>