{{!-- <div class="container">
	<div class="jumbotron mt-2 jumbotron-design">
		<p>Your category is {{product_category_name}}</p>
	</div>
</div> --}}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			<div class="modal-header">
				<h5>Categories</h5>
			</div>
			<div class="modal-body">
				{{#each rows}}
					<li>{{this.product_category_name}}</li>
				{{/each}}
			</div>
		</div>
	</div>
</div>