<div class="container">
	<div class="jumbotron mt-2 jumbotron-design">
		<form method="POST" action="/categories">
			<label for="brand">What category do you want?</label>
			<input type="text" name="product_category_name" value="">
			<input type="submit" value="submit">
		</form>
	</div>
</div>