<body class="background">

<!--START: ADMIN INTERFACE-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="sidenav img-icons">
          <a href="/developers"><img src="/about.png">&ensp;About Developers</a>
          <a href="#"><img src="/products.png">&ensp;Products</a>
          <a href="#"><img src="/category.png">&ensp;Categories</a>
          <a href="#"><img src="/brand.png">&ensp;Brands</a>
          <a href="#"><img src="/order.png">&ensp;Orders</a>
          <a href="#"><img src="/customer.png">&ensp;Customers</a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 team-title">
            <h1 style="padding-top:50px;">ABOUT DEVELOPERS<h1>
            <h1><b>T E A M  2 0 </b></h1>
          </div>
        </div>
          <div class="row admins">
            <div class="col-md-6">
              <div class="admins">
                <a href="#" data-toggle="modal" data-target="#modal-1"><img src="/caloy.png">
                  <h3>Hi! I'm Carlo!</h3>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="admins">
                <a href="#" data-toggle="modal" data-target="#modal-2"><img src="/kimmy.png">
                  <h3>Hi! I'm Kim Leslie!</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--END: ADMIN INTERFACE-->

<!--START: MODALS-->

<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header-design">
        <h5 class="admins" style="color:white" class="modal-title">MY INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
      </div>
      <div class="modal-body body-design">
        <li>Name: Carlo S. Punzalan</li>
        <li>Age: 21 years old</li>
        <li>Address: Caloocan City</li>
        <li>Year & Course: 5th Year - Computer Engineering</li>
        <li>School: Polytechnic University of the Philippines</li>
        <button type="button" class="btn btn-md btn-design" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-md btn-design" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header-design">
        <h5 style="color:white" class="modal-title">MY INFORMATION</h5>
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
      </div>
      <div class="modal-body body-design">
        <li>Name: Kim Leslie B. Faina</li>
        <li>Age: 20 years old</li>
        <li>Address: Makati City</li>
        <li>Year & Course: 5th Year - Computer Engineering</li>
        <li>School: Polytechnic University of the Philippines</li>
        <button type="button" class="btn btn-md btn-design" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-md btn-design" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!--END: MODALS-->

</body>
