.brands .brand-fields {
  border: 2px solid #400861;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 20px;
  width: 100%;
}

.brand-legends {
  margin: auto;
  margin-bottom: 3%;
  width: 100%;
  background: #400861;
  padding: 20px 20px;
  border-radius: 15px;
}

.brand-legends button {
  padding: 20px 20px 20px 20px;
  border-radius: 20%;
  background: #e6c;
}

.brand-legends img {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.brand-legends h3 {
  display: inline-block;
  color: white;
}

.brand-contents table {
  padding: 5px 5px;
  table-layout: fixed;
  text-align: center;
  color: black;
}

.brand-contents th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #440861;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.brand-contents td {
  text-align: justify;
}