.categories .category-fields {
  border: 2px solid #400861;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 20px;
}

.category-legends {
  margin: auto;
  margin-bottom: 3%;
  width: 100%;
  background: #400861;
  padding: 20px 20px;
  border-radius: 15px;
}

.category-legends button {
  padding: 20px 20px 20px 20px;
  border-radius: 20%;
  background: #e6c;
}

.category-legends img {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.category-legends h3 {
  display: inline-block;
  color: white;
}

.category-contents{
  
}