.categories .category-fields {
  border: 2px solid #400861;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 20px;
  width: 100%;
}

.category-legends {
  margin: auto;
  margin-bottom: 3%;
  width: 100%;
  background: #400861;
  padding: 20px 20px;
  border-radius: 15px;
}

.category-legends button {
  padding: 20px 20px 20px 20px;
  border-radius: 20%;
  background: #e6c;
}

.category-legends button:active {
  transform: translateY(5px);
}

.category-legends img {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.category-legends h3 {
  display: inline-block;
  color: white;
}

.category-contents li {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f6e8fd;
  color: #400861;
  border-left: 5px solid #400861;
  border-right: 5px solid #400861;
}

.category-contents li:hover {
  background-color: #400861;
  border-left: 5px solid white;
  border-right: 5px solid white;
  color: white;
}