.developers .developer-fields {
  border: 2px solid #400861;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 20px;
  width: 100%;
}

.developer-legends {
  margin: auto;
  margin-bottom: 3%;
  width: 100%;
  background: #400861;
  padding: 20px 20px;
  border-radius: 15px;
}

.developer-legends button {
  padding: 20px 20px 20px 20px;
  border-radius: 20%;
  background: #e6c;
}

.developer-legends img {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.developer-legends h3 {
  display: inline-block;
  color: white;
}

.developers h2 {
  font-family: 'Khand', sans-serif;
  font-size: 450%;
  color: #400861;
  text-align: center;
}

.developer-contents a {
  text-align: center;
  color: #400861;
  font-family: sans-serif;
  margin-top: 50px;
  text-decoration: none;
}

.developer-contents a:hover {
  color: #5c00b3;
}

.developer-contents img:hover {
  border: 2px solid #5c00b3;
}

.developer-contents img {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid #a94dff;
}

.header-design{
  background-color: #440861;
}

.header-design h5 {
  color: white;
  font-weight: bold;
  display: inline-block;
}

.header-design img {
  display: inline-block;
  height: 35px;
  width: 35px;
}

.body-design {
  background-color: white;
  color: black;
  font-family: sans-serif;
  padding: 30px 20px 30px 20px;
}

.body-design li {
  list-style: none;
  padding: 5px 0px;
}

.footer-design {
  border-top: 2px solid white;
}

.footer-design button {
  width: 70%;
  background-color: white;
  border-color: #400861;
  color: #440861;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}

.footer-design button:hover {
  background-color: #400861;
  border: 2px solid white;
  color: white;
}
