.orders .order-fields {
  border: 2px solid #400861;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 20px;
  width: 100%;
}

.order-legends {
  margin: auto;
  margin-bottom: 3%;
  width: 100%;
  background: #400861;
  padding: 20px 20px;
  border-radius: 15px;
}

.order-legends button {
  padding: 20px 20px 20px 20px;
  border-radius: 20%;
  background: #e6c;
}

.order-legends img {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.order-legends h3 {
  display: inline-block;
  color: white;
}

.order-contents img {
  display: block;
  float: left;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  padding: 10px 10px;
  border: 2px solid #400861;
}

.order-contents li {
  display: block;
  color: black;
  font-size: 100%;
}

.order-contents2 {
  margin-left: 100px;
  margin-bottom: 20px;
}